<div class="subject">
  <div class="subject-name" id="<%= subject.name %>"><%= subject.name %></div>
  <div class="docs">
    <% for( let i = 0; i < subject.docs.length; i++ ) { %>

    <div class="doc">
      <img src="<%= subject.docs[i].thumbnail %>" alt="" />
      <a href="<%= subject.docs[i].path %>" target="_blank">
        <%= subject.docs[i].name %>
      </a>
      <div class="desc">
        <strong>description: </strong>
        <%= subject.docs[i].description %>
      </div>
    </div>
    <% } %>
  </div>
</div>
